body {
  padding: 0px 0;
  background-color: #000;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.container {
  background-color: #fff;
  border: 0px;
  position: relative;
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.canvas {
  position: absolute;
  top: 0;
}

.form {
  padding: 0px;
}