---
---
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100&display=swap');

$ff-title: 'Reenie Beanie';
$ff-sans: 'Roboto';
body{
    grid-area: auto;
    align-items: left;
    h1{
        font-family: $ff-title;
        font-size: 6em; 
        text-align: center;

        margin: 0;
        margin-top: 2em;


    }

 
 
    h2{
        font-family: $ff-sans;
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
        font-style: normal;
        margin: 0;

    }

}